In [1]:
import pandas as pd

# Define the dictionary with employee details
employee_data = {
    'Employee ID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'Department': ['HR', 'Finance', 'IT', 'Marketing', 'Sales'],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}

# Create the DataFrame
df = pd.DataFrame(employee_data)

In [2]:
print(df.head())

   Employee ID     Name  Age Department  Salary
0          101    Alice   25         HR   50000
1          102      Bob   30    Finance   60000
2          103  Charlie   35         IT   70000
3          104    David   40  Marketing   80000
4          105      Eva   45      Sales   90000

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Employee ID  5 non-null      int64
 1   Name         5 non-null      object
 2   Age          5 non-null      int64
 3   Department   5 non-null      object
 4   Salary       5 non-null      int64
dtypes: int64(3), object(2)
memory usage: 332.0+ bytes
None

In [4]:
print(df.describe())

       Employee ID        Age        Salary
count     5.000000   5.000000      5.000000
mean    103.000000  35.000000  70000.000000
std       1.581139   7.905694  15811.388301
min     101.000000  25.000000  50000.000000
25%     102.000000  30.000000  60000.000000
50%     103.000000  35.000000  70000.000000
75%     104.000000  40.000000  80000.000000
max     105.000000  45.000000  90000.000000

In [19]:
#question 2
import pandas as pd

In [26]:
df=pd.read_csv(r"C:\Users\Dell\Downloads\customers-100.csv")
df

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,24-08-2020,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,23-04-2021,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,-1199,(496)978-3969x58947,beckycarr@hogan.com,25-03-2020,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,-9892,stanleyblackwell@benson.org,02-06-2020,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,17-04-2021,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,30-01-2022,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,-3769,605.413.3198,vkemp@ferrell.com,10-07-2021,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,18-09-2021,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,11-08-2021,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,11-03-2020,http://www.hatfield-saunders.net/

In [27]:
print(df.isnull().sum())

Index                0
Customer Id          0
First Name           0
Last Name            0
Company              0
City                 0
Country              0
Phone 1              0
Phone 2              0
Email                0
Subscription Date    0
Website              0
dtype: int64

In [28]:
print(df.nunique())

Index                100
Customer Id          100
First Name            93
Last Name             97
Company               99
City                 100
Country               85
Phone 1              100
Phone 2              100
Email                100
Subscription Date     96
Website              100
dtype: int64

In [40]:
# Drop rows with any missing values
df_cleaned.dropna(inplace=True)
cleaned_csv_file_path ="cleaned_data.csv"
df_cleaned.to_csv('cleaned_data.csv', index=False)